<h1>Book Your Flight</h1>
<div class="container">
  <%= render 'shared/flight_table' %>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
  <%= form_for @booking do |booking_field| %>
    <%= booking_field.hidden_field 'flight_id', value: @selected_flight.id  %>
      
      <%= booking_field.fields_for :passengers do |passenger_fields| %>
        <h3>Passenger <%= @i %></h3>
        <%= passenger_fields.label :name %>
        <%= passenger_fields.text_field :name, class: 'form-control' %>
        <br>
        <%= passenger_fields.label :email %>
        <%= passenger_fields.text_field :email, class: 'form-control' %>
        <br>
        <% @i += 1 %>
      <% end %>

    <%= booking_field.submit class: 'btn btn-primary' %>
  <% end %>
</div>
</div>