<h1>Your Flight</h1>

<div class="container">
  <%= render 'shared/flight_table' %>
  <ul class="list-group">
    <% @booking.passengers.each_with_index do |passenger, i| %>
      <li class="list-group-item">
        <h5>Passenger <%= i + 1 %></h5>
        <ul>
          <li>name: <%= passenger.name %></li>
          <li>email: <%= passenger.email %></li>
        </ul>
      </li>
    <% end %>
  </ul>

  <p id="search_link"><%= link_to "Search for other flights", root_url %></p>
</div>